extends layout

block content
	.container
		h1 Application
		h3 #{user.name}
		h4 Bio:
		p #{user.bio}
		h4 Skills:
		p #{user.skills}
		h4 Years experience:
		p #{user.xp}
		h4 Why he/she wants to work here:
		p #{user.why}	